services:
  react-build:
    profiles: ["prod"]
    image: node:22.18
    container_name: react-build
    working_dir: /app
    volumes:
      - ./frontend/react-app:/app
    environment:
      REACT_APP_DEMO_USER_ID: ${DEMO_USER_ID:-0}
    command: sh -c "npm ci && npm run build"
    restart: "no"
    user: "${UID:-1000}:${GID:-1000}"

  react-nginx:
    profiles: ["prod"]
    image: nginx:alpine
    container_name: react-nginx
    restart: unless-stopped
    depends_on:
      react-build:
        condition: service_completed_successfully
    volumes:
      - ./frontend/react-app/build:/usr/share/nginx/html:ro
      - ./frontend/nginx:/etc/nginx/conf.d:ro