services:
  gateway:
    image: openjdk:24-jdk-slim
    container_name: gateway
    ports:
      - "8080:8080"
    restart: unless-stopped
    command: ["java", "-jar", "/app/gateway.jar"]
    volumes:
      - ./gateway/build/libs/:/app
    depends_on:
      - document-processor
      - notification-service
    networks:
      - app_network

  document-processor:
    image: openjdk:24-jdk-slim
    container_name: document-processor
    restart: unless-stopped
    command: ["java", "-jar", "/app/document-processor.jar"]
    volumes:
      - ./services/document-processor/build/libs/:/app
    networks:
      - app_network

  notification-service:
    image: openjdk:24-jdk-slim
    container_name: notification-service
    restart: unless-stopped
    command: ["java", "-jar", "/app/notification-service.jar"]
    volumes:
      - ./services/notification-service/build/libs/:/app
    networks:
      - app_network

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    ports:
      - "9092:9092"
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
    depends_on:
      - zookeeper

networks:
  app_network:
    driver: bridge
