include:
  - docker-compose.gradle.yml
  - docker-compose.db.yml

services:
  gateway:
    image: openjdk:24-jdk-slim
    container_name: gateway
    ports:
      - "8080:8080"
    restart: unless-stopped
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:${POSTGRES_PORT:-5432}/${POSTGRES_DB}
      SPRING_DATASOURCE_USER: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
    command: ["java", "-jar", "/app/gateway.jar"]
    volumes:
      - ./gateway/build/libs/:/app
    depends_on:
      - document-processor
      - notification-service
      - storage-service

  document-processor:
    build:
      context: ./services/document-processor
    container_name: document-processor
    restart: unless-stopped
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:${POSTGRES_PORT:-5432}/${POSTGRES_DB}
      SPRING_DATASOURCE_USER: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
      EMBEDDING_BASE_URL: ${EMBEDDING_BASE_URL}
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      TESSDATA_PREFIX: /usr/share/tesseract-ocr/5/tessdata
      #JAVA_TOOL_OPTIONS: >
      #  -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005
    command: ["java", "-jar", "/app/document-processor.jar"]
    volumes:
      - ./services/document-processor/build/libs/:/app
    depends_on:
      - kafka
      - postgres

  search-service:
    image: openjdk:24-jdk-slim
    container_name: search-service
    restart: unless-stopped
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:${POSTGRES_PORT:-5432}/${POSTGRES_DB}
      SPRING_DATASOURCE_USER: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
      EMBEDDING_BASE_URL: ${EMBEDDING_BASE_URL}
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    command: [ "java", "-jar", "/app/search-service.jar" ]
    volumes:
      - ./services/search-service/build/libs/:/app
    depends_on:
      - kafka
      - postgres

  answer-generator:
    image: openjdk:24-jdk-slim
    container_name: answer-generator
    restart: unless-stopped
    environment:
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      APP_CHAT_BASE_URL: ${APP_CHAT_BASE_URL}
      APP_CHAT_MODEL_NAME: ${APP_CHAT_MODEL_NAME}
      APP_CHAT_API_KEY: ${APP_CHAT_API_KEY:-dummy}
      APP_NOTIFICATION_STREAM_URL: http://notification-service:8080/answers/stream
    command: [ "java", "-jar", "/app/answer-generator.jar" ]
    volumes:
      - ./services/answer-generator/build/libs/:/app
    depends_on:
      - kafka
      - notification-service

  notification-service:
    image: openjdk:24-jdk-slim
    container_name: notification-service
    restart: unless-stopped
    command: ["java", "-jar", "/app/notification-service.jar"]
    volumes:
      - ./services/notification-service/build/libs/:/app
    depends_on:
      - kafka

  storage-service:
    image: openjdk:24-jdk-slim
    container_name: storage-service
    restart: unless-stopped
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:${POSTGRES_PORT:-5432}/${POSTGRES_DB}
      SPRING_DATASOURCE_USER: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
      ROOT_STORAGE_PATH: /files
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092
      STORAGE_SERVICE_HOST: ${SITE_ROOT}/api/storage
      INTERNAL_HOST: http://storage-service:8080
    command: [ "java", "-jar", "/app/storage-service.jar" ]
    volumes:
      - ./services/storage-service/build/libs/:/app
      - files_storage:/files
    depends_on:
      - kafka
      - postgres

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    restart: unless-stopped
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    restart: unless-stopped
    ports:
      - "9092:9092"
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper

volumes:
  files_storage: