# Build project without gradle and java installation

services:
  gradle:
    image: gradle:8.14.3-jdk24
    container_name: gradle
    working_dir: /home/gradle/app
    volumes:
      - .:/home/gradle/app
      - gradle-cache:/home/gradle/.gradle # global cache
    user: "${UID:-gradle}:${GID:-gradle}" # user id and group id of the user on the host machine

  gradle-daemon:
    image: gradle:8.14.3-jdk24
    container_name: gradle-daemon
    working_dir: /home/gradle/app
    volumes:
      - .:/home/gradle/app
      - gradle-daemon-cache:/home/gradle/.gradle #global cache
    stdin_open: true
    tty: true
    entrypoint: [ "tail", "-f", "/dev/null" ]
    user: "${UID:-gradle}:${GID:-gradle}" # user id and group id of the user on the host machine

volumes:
  gradle-cache:
  gradle-daemon-cache: