@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    color: #000;
}


.nav-link {
    color: #000;
    text-decoration: none;
}

.nav-link.active {
    font-weight: bold;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

@media (min-width: 576px) {
    .container { max-width: 540px; }
}
@media (min-width: 768px) {
    .container { max-width: 720px; }
}
@media (min-width: 992px) {
    .container { max-width: 960px; }
}
@media (min-width: 1200px) {
    .container { max-width: 1140px; }
}
@media (min-width: 1400px) {
    .container { max-width: 1320px; }
}
