body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.5s ease-out;
}

@keyframes ping-custom {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 35%{
        transform: translateX(-40px);
    }

    20%, 50%{
        transform: translateX(40px);
    }

    60% {
        transform: translateX(-20px);
    }

    80% {
        transform: translateX(20px);
    }
}

.animate-ping-custom {
  animation: ping-custom 1s ease-in-out;
}
